body {
  padding: 0;
  margin: 0;
  background: #f8fafc;
}

h1 {
  margin: 0;
  padding: 0;
  color: #0f172a;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  padding: 0;
  transition: all 0.3s;
}

button:hover {
  color: #1010104d;
}

.disable-hover-style:hover {
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}

.header {
  background-color: #c7d2fe;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: sticky;
  top: 0;
}

.data-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  gap: 40px;
  text-align: center;
  margin-top: 3rem;
}

.data-item {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
}

.data-item:hover {
  background-color: #e2e8f0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.pokemon-name {
  font-weight: bold;
  color: #0f172a;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.pokemon-img {
  margin-top: 2rem;
}
