body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  padding: 0;
}

button:hover {
  color: rgb(82, 82, 82);
}

.header {
  background-color: aquamarine;
}

.data-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  gap: 40px;
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
