body {
  padding: 0;
  margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  padding: 0;
}

button:hover {
  color: rgb(82, 82, 82);
}

.header {
  background-color: #c7d2fe;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

.data-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  gap: 40px;
  text-align: center;
  margin-top: 3rem;
  cursor: pointer;
}

.data-item {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
